<web-app>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error-404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error-500.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error/error-unauthorized.jsp</location>
    </error-page>
</web-app>